.link{
    color: #4C4CFF;
    cursor: pointer;
}

.over{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
}

.p_text{
    display: flex;
    align-items: center;

    height: 64px;
    width: 320px;
    text-align: start;
    vertical-align: middle;
}