.link{
    color: #4C4CFF;
    cursor: pointer;
}

.over{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
}

.p_text{
    display: flex;
    align-items: center;

    height: 64px;
    width: 320px;
    text-align: start;
    vertical-align: middle;
}